@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kelly+Slab&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes CHESE {
    from{transform: scaleX(1.5);}
    to{transform: scaleX(1);}
}
body{
background-color: rgb(255, 233, 201);
}
.nav-link{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-left: 0px;
}
.nav-link_item{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.nav-link_item:hover{
    color: rgb(39, 39, 39);
    background-color: rgb(255, 253, 223);
    transition-duration: 0.4s;
}
.container{
/*
    display: flex;
    margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;*/
background-color: rgb(253, 245, 242);
border-radius: 15px;
max-width: 1200px;
margin: 20px auto;
padding: 10px;
}
.main-container-plus{
    
display: flex;
margin-left: 5%;
margin-right: 5%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
}
.main-container{
    width: 90%;
    display: flex;
margin: 4% 4% 1% 4%;
padding: 3%;
background-color: #eeeeee;
    height: 200px;
    align-items: center;
    border-radius: 15px;
        background-image: url(../img/main-background.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
}
.logo-container{
    display: flex;
    justify-content: space-around;
}
.main{
    font-size: 20px;
}
h1{
    font-family: "Caveat";
}
.actual{
    margin-left: 35px;
    margin-top: 35px;
}
.button-go-to{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5%;
    font-family: "Caveat";
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(141, 141, 141);
}
.Allert{
    font-size: 18px; 
    font-weight: 500;
color: red;
}
.News-container{
margin: 5%;
padding: 3%;
background-color: rgb(233, 233, 227);
border-radius: 15px;
width: 80%;
}
.Main-news-chicken{
    color: rgb(77, 49, 49)
}
.button{
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
padding: 8px;
text-align: center;
cursor: pointer;
font-size: 16px;
border: none;
}
.button:hover{
    background-color: rgb(255, 77, 77);
padding: 7px;
transition-duration: 1s;
color: rgb(223, 223, 223);
}
.find-assort_textArea{
width: 70px;
height: 10px;
padding: 5px;
margin-top: 1px;
}
.Assort-sir-img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.Assort-sir-img:hover{
        width: 230px;
    height: 230px;
border-radius: 15px;
transition-duration: 1s;
}
.Allert-contact{
    font-size: larger;
    color: rgb(109, 0, 0);
    font-weight: 700;
}
.Container-item{
    justify-content: space-around;
margin: 10px;

    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    border-radius: 15px;
    height: 390px;
width: 400px;
border: 2px rgb(114, 114, 114) solid;

}
.Assort-contain{
    display: flex;
}
.Container-table{
    display: block;
text-align: center;
flex-wrap: wrap;
margin-left: 10%;
margin-right: 10%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
padding: 30px;
}
.buttons-to-Assort{
    text-decoration: none;
    color: black;
    font-size: medium;
}
.logo-img{
    width: 200px;
    animation: CHESE 2s;
}
.News-container li{
  font-family: "Roboto";
  margin-top: 12px;
}
footer{
    padding: 5%;
    text-align: center;
}
.ab{

padding-left: 30px;

}
.container-contact{
text-align: center;
justify-content: center;
margin-left: 10%;
margin-right: 10%;
padding: 3%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
}
.social-table{
    height: 40px;
    text-align: center;
    justify-content: center;
}
.contact-img{
    height: 18px;
    margin-right: 5px;
}
h3{
    margin-top: 40px;
    font-family: "roboto";
}
.Assort-help-find-img{
    width: 20px;
    height: 20px;
}
.contact-link{
    color: rgb(14, 14, 14);
}
.center{
    display: flex;
    justify-content: center;
}
.container-support{
    text-align: center;
margin-left: 5%;
margin-right: 5%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
padding-bottom: 3%;
padding-top: 3%;
}    
.container-support-2{
    margin-left: 10%;
    margin-right: 10%;
width: fit-content;
text-align: center;
background-color: rgb(255, 241, 223);
border-radius: 15px;
padding: 10px;
padding-bottom: 3%;
border: 3px black dashed;
}
.roboto{
    font-family: "roboto";
    font-size: 18px;
}
.Container-item-index{
    justify-content: space-around;
    margin: 10px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    border-radius: 15px;
    height: 350px;
width: 190px;
border: 2px rgb(114, 114, 114) solid;  
}
.Assort-sir-img-2{
    width: 135px;
    height: 135px;
    border-radius: 30px;
}
.Assort-sir-img-2:hover{
        width: 170px;
    height: 170px;
border-radius: 15px;
transition-duration: 1s;
}
.index-button{
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-top: 5%;
    margin: auto;
}
.Assort-contain-index{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
    .Assort-contain-index-2{
        margin: auto;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            flex-wrap: wrap;
    }
    .heha{
                margin: auto;
padding-bottom: 3%;
            align-items: center;
            text-align: center;
            justify-content: space-between;
    }
    .description-problem{
        height: 100px;
        padding: 7px;
        border-radius: 5px;
    }
    input{
        padding: 7px;
        border-radius: 5px;
    }
    .submit-but{
        background-color: white;
        border-radius: 15px;

    }
@media screen and (max-width: 768px){
    h1{
        font-size: 22px;
    }
    *{
        font-size: 15px;
    }
    .Assort-contain-index-2{
        display: block;
            align-items: center;
            text-align: center;
            justify-content: center;
    }
    .nav-link_item{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.index-button{
    margin-left: 38%;
}
.main{
    width: 300px;
    font-size: 17px;
}
.main-container{
    width: 70%;
    display: flex;
margin: 4% 4% 1% 4%;
padding: 3%;
background-color: #eeeeee;
    height: 200px;
    align-items: center;border-radius: 15px;
        background-image: url(../img/main-background.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }
    .container{
    display: flex;
    padding-bottom: 3%;
    margin-bottom: 5%;
margin-left: 4%;
margin-right: 4%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
}
.Container-table{
    margin-left: 4%;
margin-right: 4%;
}
.Container-item{
    height: 300px;
}
.container-table-index-help{
    width: fit-content;
}
.Container-item-index{
justify-content: space-around;
    margin: 10px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    border-radius: 15px;
    height: 290px;
width: 40%;
border: 2px rgb(114, 114, 114) solid;  
}
.container-support{
    margin-left: 4%;
    margin-right: 4%;
}
.Assort-sir-img-2{
    width: 110px;
    height: 110px;
    border-radius: 30px;
}
.Assort-sir-img-2:hover{
        width: 120px;
    height: 120px;
border-radius: 15px;
transition-duration: 1s;
}
.Assort-sir-img{
width: 140px;
height: 140px;
}
.Assort-sir-img:hover{
width: 150px;
height: 150px;
}
h2{
    font-size: 20px;
}
.button{
      font-size: 12px;  
}
.Container-item{
    width: 26%;
}
}
@media screen and (max-width: 576px){
    .nav-link {
    color: black;
    margin-left: 5px;
    font-size: 10px;
}
.container-table-index-help{
    width: fit-content;
}
    .logo-img{
        width: 140px;
    }
    h1{
        font-size: 20px;
    }
    *{
        font-size: 15px;
    }
    .Assort-contain-index-2{
        display: block;
            align-items: center;
            text-align: center;
            justify-content: center;
    }
    .nav-link_item{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.index-button{
    margin-left: 38%;
}
.main{
    width: 140px;
    font-size: 17px;
}
.main-container{
    width: 70%;
    display: flex;
margin: 4% 4% 1% 4%;
padding: 3%;
background-color: #eeeeee;
    height: 200px;
    align-items: center;border-radius: 15px;
        background-image: url(../img/main-background.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }
    .container{
    display: flex;
    padding-bottom: 3%;
    margin-bottom: 5%;
margin-left: 4%;
margin-right: 4%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
}
.Container-table{
    margin-left: 4%;
margin-right: 4%;
}
.Container-item{
    height: 300px;
    width: 100px;
}
.Container-item-index{
justify-content: space-around;
    margin: 10px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    border-radius: 15px;
    height: 290px;
width: 50%;
border: 2px rgb(114, 114, 114) solid;  
}
.container-support{
    margin-left: 4%;
    margin-right: 4%;
}
.container-support-2{
    margin-left: 3%;
    margin-right: 3%;
    width: 90%;
}
.Assort-sir-img-2{
    width: 75px;
    height: 75px;
    border-radius: 30px;
}
.Assort-sir-img-2:hover{
        width: 90px;
    height: 90px;
border-radius: 15px;
transition-duration: 1s;
}
.Assort-sir-img{
width: 90px;
height: 90px;
}
.Assort-sir-img:hover{
width: 100px;
height: 100px;
}
h2{
    font-size: 14px;
}
.button{
      font-size: 12px;  
}
.Container-item{
    width: 26%;
}
}
@media screen and (max-width: 378px){
    .nav-link {
    color: black;
    margin-left: -50px;
    font-size: 10px;
    display: block;
}
.News-container{
    width: 85%;
}
    .logo-img{
        width: 170px;
        margin: 0px;
    }
    h1{
        font-size: 28px;
    }
    *{
        font-size: 15px;
    }
    .Assort-contain-index-2{
        display: block;
            align-items: center;
            text-align: center;
            justify-content: center;
    }
    .nav-link_item{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.index-button{
    margin-left: 26%;
}
.main{
    width: 140px;
    font-size: 17px;
}
.main-container{
    width: 85%;
    display: flex;
margin: 4% 4% 1% 4%;
padding: 3%;
background-color: #eeeeee;
    height: 200px;
    align-items: center;border-radius: 15px;
        background-image: url(../img/main-background.png);
        background-repeat: no-repeat;
        background-position: -80px;
        background-size: cover;
    }
    .container{
    display: flex;
    padding-bottom: 3%;
    margin-bottom: 5%;
margin-left: 4%;
margin-right: 4%;
background-color: rgb(253, 245, 242);
border-radius: 15px;
}
.Container-table{
    margin-left: 4%;
margin-right: 4%;
}
.Container-item{
    height: 300px;
}
.Container-item-index{
justify-content: space-around;
    margin: 10px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    border-radius: 15px;
    height: 270px;
width: 80%;
border: 2px rgb(114, 114, 114) solid;  
}
.container-support{
    margin-left: 4%;
    margin-right: 4%;
}
.container-support-2{
    margin-left: 3%;
    margin-right: 3%;
    width: 87%;
}
.Assort-sir-img-2{
    width: 75px;
    height: 75px;
    border-radius: 30px;
}
.Assort-sir-img-2:hover{
        width: 90px;
    height: 90px;
border-radius: 15px;
transition-duration: 1s;
}
.Assort-sir-img{
width: 160px;
height: 160px;
}
.Assort-sir-img:hover{
width: 170px;
height: 170px;
}
h2{
    font-size: 18px;
}
.button{
      font-size: 12px;  
}
.Container-item{
    width: 90%;
    height: 330px;
}
.container-contact{
    margin-left: 4%;
    margin-right: 4%;
}
.ab{
justify-content: center;
padding-left: 0px;
}
.Assort-contain{
    display: block;
}
}